section#home {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/landscape-animal-mountain-top.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

section#about {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/pexels-photo-397857.jpeg');
   /** background-attachment: fixed;**/
    background-position: center;
    background-size: cover;
}

section#contacto {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/pexels-photo-531533.jpeg'), url('../img/pexels-photo-733090.jpeg'),
    url('../img/pexels-photo-133360.jpeg'),
    url('../img/pexels-photo-146033.jpeg');
    background-position: 30% 88%, center, top, center;
    background-repeat: no-repeat, no-repeat,  no-repeat, no-repeat;
    background-size: 20%, 20%, 20%, cover;

}

#home h1 {
    /**border-radius: 10px 10px;
    -moz-animation: 0ms;
    -ms: ;
    -webkit: ;**/

}